<div
  #item
  [id]="id"
  [ngClass]="checked ? 'complete' : 'incomplete'"
  class="container"
>
  <div class="left-side">
    <button
      class="check-button"
      type="button"
      [ngSwitch]="checked"
      (click)="changeCheck(item)"
    >
      <img
        *ngSwitchCase="false"
        src="/assets/images/checkbox-blank-circle.png"
        alt="미체크"
      />
      <img
        *ngSwitchCase="true"
        src="/assets/images/checkbox-circle.png"
        alt="체크"
      />
    </button>
    <input class="description" [value]="description" />
  </div>
</div>
