<div class="container">
  <div class="today-section">
    <p class="today">Today</p>
    <p class="today-date">
      {{ today | date : "MMMM dd, yyyy" }}
    </p>
  </div>
  <create-task [(isEmpty)]="isInputEmpty"></create-task>
  <div class="items-section">
    <todo-item
      *ngFor="let item of items$ | async"
      [id]="item.id"
      [checked]="item.checked"
      [description]="item.description"
    ></todo-item>
    <div class="empty-section" *ngIf="(items$ | async)?.length === 0">
      데이터가 비었습니다.
    </div>
  </div>
</div>
